{% extends "encyclopedia/layout.html" %}

{% block title %}
    Update
{% endblock %}

{% block body %}
    <h1>Update entry</h1>

    <form action="/wiki/update/{{ title }}" method="post">
        <!--<p><label for="create_title">Page Title</label></p>
        <input id="create_title" type="text" name="title" placeholder=" page title" size="100px" autofocus required><br><br>-->
        {% csrf_token %}
        {{ form }}
        <p><label for="update_content">Contents</label></p>
        <textarea id="update_content" name="update_content"  rows="5" cols="40" required>{{ content }}</textarea>
        <br><br>
        <input type="submit" value="Update">
        {% if messages %}
            {% for message in messages %}
                
                <button type="button" data-dismiss="alert">
                ×
                </button>
                <strong>{{ message }}</strong>
                
            {% endfor %}
        {% endif %}
    </form>

{% endblock %}